# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [8]:
pokemon = {"name" : ["bulbasaur","charmander","squirtle","caterpie"],
           "pokedex": ["yes","no","yes","no"],
          "hp": [45, 29, 48, 59]}

In [10]:
pokemon = pd.DataFrame(pokemon, index=pokemon["name"])
pokemon

                  name pokedex  hp
bulbasaur    bulbasaur     yes  45
charmander  charmander      no  29
squirtle      squirtle     yes  48
caterpie      caterpie      no  59

### Step 3. Assign it to a variable called

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

### Step 5. Add another column called place, and insert what you have in mind.

### Step 6. Present the type of each column

### BONUS: Create your own question and answer it.